.n { 
    background-color: #2E7D32;
    padding: 5px;
    text-align: center;

}
.n a { 
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.n a:hover {
    color: #A7D7C5;
}

.d1 {
    padding-top: 30px;
}

.center {
    color: #555555;
    text-align: center;
    max-width: 900px;
    margin: 30px auto;
    padding-bottom: 10px;
}

.h{
    overflow: hidden;
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    font-weight: bold;
    color: black;
    background: linear-gradient(90deg, gray);
}

.box {
    display: flex;
    gap: 25px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-8px);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.1);
}
.d{
    background-color: #2E7D32;
       overflow: hidden;
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    font-weight: bold;
    
}
.heading {
    font-size: 32px;
    font-weight: 700;
    color: #c49a6c;
}
.z{
        flex: 1;
    font-size: 18px;
    line-height: 1.7;
    color: #2b2b2b;
}
.a{
    color: #2E7D32;
}