 
        @keyframes slideshow {
    0% {
        background-image: url(paris/2.jpg);
    }

    10% {
        background-image: url(paris/A.jpg);
    }

    20% {
        background-image: url(paris/download\ \(1\).jpg);
    }

    30% {
        background-image: url(paris/download\ \(2\).jpg);
    }

    40% {
        background-image: url(paris/download.jpg);
    }

    50% {
        background-image: url(paris/Tour\ Eiffel.jpg);
    }

    60% {
        background-image: url(paris/w.jpeg);
    }

    70% {
        background-image: url(paris/paris-louvre-pyramid.jpg);
    }

    80% {
        background-image: url(paris/l.jpg);
    }

    90% {
        background-image: url(l2.jpg);
    }

    100% {
        background-image: url(paris/l3.jpg);
    }
}
body {
    background-color: #f5f7f6;
    color: #2b2b2b;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.d2 {
    width: 100%;
    height: 300px;
    animation: slideshow 45s infinite;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 30px;
}
        nav { 
    background-color: #2E7D32;
    padding: 5px;
    text-align: center;

}
.d{
        flex: 1;
    font-size: 18px;
    line-height: 1.7;
    color: #2b2b2b;
}
nav a { 
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #A7D7C5;
}

.h{
    overflow: hidden;
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    font-weight: bold;
    color: black;
    background: linear-gradient(90deg, blue, white, red);
}
.box {
    display: flex;
    gap: 25px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-8px);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.1);
}
.i{
 width: 380px;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    flex-shrink: 0;
    float: right;
    margin-left: auto;
    opacity: 0.75;
}
img:hover{
    opacity: 1;
    object-fit: fill;
    box-shadow: 0 0 10px 10px gray;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    color: peru;
}
.topbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border:none;
    border-radius: 50%;
    background-color: #0288D1;
    color: white;
    cursor: pointer;
    
}
.topbtn:hover{
    background-color: #01579b;
}