.h {
    text-align: center;
    font-size: 36px;
    font-weight: bold;

    color: #2f6b4f;
}

body {
    background-color: #F4F9F4;
    color: #3F4F46;
}

.p {
    text-align: center;
    font-size: 20px;
}

nav { /* navigation bar styles */
    background-color: #2E7D32;
    padding: 5px;
    text-align: center;

}

nav a { /* navigation links styles */
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #A7D7C5;
}

.d1 {
    padding-top: 30px;
}
.gallery {
  display: grid; /*to help make row and column*/
  grid-template-columns: repeat(4,minmax(220px,1fr));
  /*repeat 4 : to make 4 columns 
  minmax: min width image wont be smaller than 220 
  max 1fr each column will take equal space 
  */
  gap: 20px;
  width: 85%; /* space on sides */
  margin: 50px auto; /* center the gallery */
}

.gallery img {
  width: 100%; /* image will take full width of column */
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  
}
@keyframes imageMove {  /* to make moving effect on hover */
  0% { /* starting point */
    transform: scale(1); /* no scaling */
  }
  50% { /* mid point */
    transform: scale(1.08); /* scale up by 8% */
  }
  100% {    /* end point */
    transform: scale(1);    /* back to original size */
  }
}

.gallery img:hover {
  transform: scale(1.05);
  animation: imageMove 3s ease-in-out infinite;

}
