@keyframes slideshow {
    0% {
        background-image: url('italy&home/italy.png');
    }

    10% {
        background-image: url('italy&home/italy col.png');
    }

    20% {
        background-image: url('italy&home/italy b.png');
    }

    30% {
        background-image: url('italy&home/italy florence.png');
    }

    40% {
        background-image: url('italy&home/italy fountain.png');
    }

    50% {
        background-image: url('italy&home/italy grand canal.png');
    }

    60% {
        background-image: url('italy&home/italy pantheon.png');
    }

    70% {
        background-image: url('italy&home/italy pisa.png');
    }

    80% {
        background-image: url('italy&home/italy vatican.png');
    }

    90% {
        background-image: url('italy&home/italy view.png');
    }

    100% {
        background-image: url('italy&home/italy.png');
    }
}

.d2 {
    width: 100%;
    height: 300px;
    animation: slideshow 45s infinite;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 30px;
}

body {
    background-color: #f5f7f6;
    color: #2b2b2b;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.h {
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    margin: 0;
    font-weight: bold;
    color: #0b6b3a;
    background: linear-gradient(90deg, #008000, #ffffff, #d62828);
}

nav {
    background-color: #2E7D32;
    padding: 8px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 12px;
    font-weight: bold;
}

nav a:hover {
    color: #A7D7C5;
}

.center {
    color: #555555;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.box {
    display: flex;
    gap: 25px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-8px);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.1);
}

.text {
    flex: 1;
    font-size: 18px;
    line-height: 1.7;
    color: #2b2b2b;
}

.image {
    width: 380px;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    flex-shrink: 0;

}

.hr {
    margin: 40px auto;
    width: 90%;
    border: none;
    border-top: 2px solid #cfcfcf;
}

li {
    color: #0b6b3a;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    color: #c49a6c;
}

.topbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border:none;
    border-radius: 50%;
    background-color: #0288D1;
    color: white;
    cursor: pointer;
    
}
.topbtn:hover{
    background-color: #01579b;

}
