@keyframes slideshow {
    0% { background-image: url('swithz&mald/mount.jpg'); }
    25% { background-image: url('swithz&mald/Zurich.webp'); }
    50% { background-image: url('swithz&mald/zytglogge.jpg'); }
    75% { background-image: url('swithz&mald/jungfraujoch.jpg'); }
    100% { background-image: url('swithz&mald/swt.jpg'); }
}
.SlidePics { /* Slide show code*/
    width: 100%;
    height: 300px;
    animation: slideshow 20s infinite;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

body {
    background-color: #f5f7f6;
    color: #2b2b2b;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.welcomeHeading {
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    margin: 0;
    font-weight: bold;
    color: #0b6b3a;
    border-color: #2b2b2b;
    border-style: solid;
     background: linear-gradient(90deg,red, red, red,white, white, white, red,red,red); 
}
.box {
    display: flex;
    gap: 25px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-8px);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.1);
}

.text {
    flex: 1;
    font-size: 18px;
    line-height: 1.7;
    color: #2b2b2b;
}

.image {
    width: 380px;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    flex-shrink: 0;
}



.heading {
    font-size: 32px;
    font-weight: 700;
    color: #d01414;
}

li {
    color: #0b6b3a;
}


.topbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border:none;
    border-radius: 50%;
    background-color: #0288D1;
    color: white;
    cursor: pointer;
    
}
.topbtn:hover{
    background-color: #01579b;
}
nav {
    background-color: #2E7D32;
    padding: 8px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 12px;
    font-weight: bold;
}

nav a:hover {
    color: #A7D7C5;
}
